<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sportsharing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_sportsharing"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone_sportsharing_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ConnexionActivity">

        </activity>
        <activity android:name=".Inscription1Activity" />
        <activity android:name=".Inscription2Activity" />
        <activity android:name=".Inscription3Activity" />
        <activity android:name=".AccueilActivity" />
        <activity android:name=".RechercheActiviteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeSelectorActivity" />
        <activity android:name=".DateSelectorActivity" />
        <activity android:name=".RechercheResultatActivity" />



        <!-- Déclaration de la clef d'accés à l'API de GoogleMap -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCnvSkwZjLdamVmcMcyEeqFBWt_XVCIoS0" />

    </application>

</manifest>